
h3{
	font-size:150%;
}

a{
	text-decoration: none;
}

h2{
	font-size:250%;
}
 
 p{
	 font-size:200%;
 }
 
 div.header{
	width: 100%;
	height: 120px;
	border: 1px solid black;
	background-image: url(111.jpg);
	background-size: cover;
	background-position: center;
	
}

#poi{
	margin-left: 150px;
	display: inline-block;
	vertical-align: 20px;
	
}

.dfg{
	font-size:350%;
	font-family: Monotype Corsiva, cursive;
	color: SteelBlue;
	text-shadow: MediumAquamarine 1px 1px 0,
	             MediumAquamarine 2px 2px 0, 
                 MediumAquamarine 3px 3px 0, 
				 MediumAquamarine 4px 4px 0, 
                 MediumAquamarine 5px 5px 0;
}

#go{
	margin-left:30px;
	margin-top:10px;
	display:inline-block;
	
}


/* Тут кончается редактирование Головушки */

nav{
	width:99.4%;
	padding: 7px 0.3%;
	float:left;
	height: 25px;
	display: inline-block;
	
}

em{
	float: right;
	margin-right: 10px;
	font-size: 20px;
}



em>a{
		color:MediumBlue;
		transition: 0.5s;
	
}

em>a:hover{
	color:skyblue;
	
}


nav>a{
	color:MediumBlue;
	font-size: 25px;
	margin-left: 3%;
	border-right: 1px solid gray;
	padding: 5px;
	transition: 0.5s;
}

nav>a:hover{
	color:skyblue;
}


/* Конец редактирования менюшки */


.novost{
	float:left;
	margin: 0 7px 7px 0;
}

.skol{
	float:left;
	margin: 0 7px 7px 0;
}


/* Конец редактирования новостей*/
.muz{
	margin-left:300px;
}

.muz2{
	float:left;
	margin: 0 7px 7px 0;
	margin-left:10px;
	display:inline-block;
}

.muz3{
	float:right;
	margin: 0 7px 7px 0;
	margin-right:10px;
	display:inline-block;

}


/* Конец редактирования музея */

.darv{
	margin-left:330px;
}

.darv2{
	margin-left:330px;
}

/* Конец редактирования DARV */

.leu{
	float:left;
	margin: 0 7px 7px 0;
}

.leu2{
	float:left;
	margin: 0 7px 7px 0;
}
/* Конец редактирования LEU */

.yag{
	float:left;
	margin: 0 7px 7px 0;
}

.yag2{
	margin-left:300px;
}

/* Конец редактирования YAG */

.rib{
	float:left;
	margin: 0 7px 7px 0;
}

.rib2{
	float:left;
	margin: 0 7px 7px 0;
}

/* Конец редактирования Rib */

.usp{
	float:left;
	margin: 0 7px 7px 0;
}

.usp2{
	float:left;
	margin: 0 7px 7px 0;
}

.usp3{
	float:left;
	margin: 0 7px 7px 0;
}


/* Конец редактирования USP */

.usad{
	float:left;
	margin: 0 7px 7px 0;
}

.usad2{
	float:left;
	margin: 0 7px 7px 0;
}

/* Конец редактирования USAD */



/* Конец редактирования sk */
div.leftblock{

	display: inline-block;
	height: 805px;
	width: 20%;
	float: left;
	margin-right: 5px;
	padding: 5px;
	border: 1px solid black;
}

#left a{
	color:mediumblue;
	font-size: 25px;
	transition: 0.5s;
}

#left a:hover{
	Color:skyblue;
}

li {
	padding-bottom: 30px;
}

.adm{
	margin-left: 75px;
}
/* Конец редактирования левого блока */
div.content{
	
	display: inline-block;
	float: right;
	width: 77%;
	height: 2200px;
	padding: 5px;
	
}

div.fr{
	float:right;
}

div.pao{
	float:left;
	margin-left:37%;
}

div.footer{
	display: inline-block;
	width: 100%;


}


h6{
	color:Black;
}





